.homepage {
  &__info {
    font-size: 0.75em;
    font-weight: 400;
    padding-top: 10px;

    @include small-mobile-design {
      width: 95%;
      margin: 0 auto;
      text-align: center;
    }
    & i {
      background-color: $color-bg2;
      padding: 5px 10px;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}
